{% extends 'base_formularios_cortos.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap %}


{% block titulo %}
 <title>Sign Up</title>
{% endblock %}

{% block tituloForm %}
<h4 class="fw-300 c-grey-900 mB-40">{% trans "Registrarse" %}</h4>
{% endblock %}

{% block form %}
 <form  method="POST"  class="form" role="form" action="{% url 'signup' %}">            
  {% csrf_token %}
 {{ form.username|bootstrap }}
  {{ form.first_name|bootstrap }}
 {{ form.email|bootstrap }}
 {{ form.password|bootstrap }}
 {{ form.confirm_password|bootstrap }}

      <div class="form-group">
          <div class="col-sm-12">
              <input type="submit" class="btn btn-primary" value="{% trans "Crear Usuario" %}" />
               <a role="button" href = " {% url 'signin' %} " class="btn btn-primary" >{% trans "Ingresar" %} </a>
          </div>
      </div>
 </form>
{%endblock%}