{% extends 'gestionUsuarios/base.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap %}
{% load bootstrap3 %}

{% block content %}

{%if aplicacion%}
<h1>{% trans "Aplicación registrada en el sistema" %}</h1>

<ul>

            <p>{{ aplicacion.nombre }}</p>
            <p>{{ aplicacion.url }}</p>
            <p>{{ aplicacion.descripcion }}</p>
            {{token}}

</ul>
<a href="{% url 'adicionarApp' %}">
     <button type="button" class="button-add  r-10 b-70 btn cur-p bdrs-50p p-0 w-3r h-3r btn-primary"> <i class="ti-close"></i></button> 
 </a>
{% else %}

<h1>{% trans "Aún no ha registrado una aplicación" %}</h1>

<a href="{% url 'adicionarApp' %}">
     <button type="button" class="button-add  r-10 b-70 btn cur-p bdrs-50p p-0 w-3r h-3r btn-primary"> <i class="ti-plus"></i></button> 
 </a>
{%endif%}


{% endblock %}